@font-face {
    font-family: 'Hikaru';
    src: url(../Font/Hikou-Regular-Font/Hikou-Regular-Font/Hikou\ Regular.otf)
}

@font-face {
    font-family: 'Monserrat';
    src: url(../Font/Monserrat/static/Montserrat-Thin.ttf);
}

$ColorOro: #c0a71b;
$ColoreFooter: #181818;
$coloreNero: #000000;
$coloreDarkBlu: rgba(14, 19, 36, 0.952);


$Hikaru: 'Hikaru';


