@font-face {
    font-family: 'Hikaru';
    src: url(../Font/Hikou-Regular-Font/Hikou-Regular-Font/Hikou\ Regular.otf)
}

@font-face {
    font-family: 'Monserrat';
    src: url(../Font/Monserrat/static/Montserrat-Thin.ttf);
}

$ColorOro: #c0a71b;


$Hikaru: 'Hikaru';


