// Mixin per le query media
@mixin media($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

// Padding con mixin
@mixin padding($top, $right, $bottom: null, $left) {
    padding-top: $top;
    padding-right: $right;
    @if $bottom != null {
        padding-bottom: $bottom;
    }
    padding-left: $left;
}

// Margin con mixin
@mixin margin($top, $right, $bottom: null, $left) {
    margin-top: $top;
    margin-right: $right;
    @if $bottom != null {
        margin-bottom: $bottom;
    }
    margin-left: $left;
}

// Font size con mixin
@mixin font-size($size) {
    font-size: $size;
}

// Estendi gli stili comuni per gli h
%common-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 10000;
    text-align: center;
    padding: 20px;
}

// Estendi anche gli stili comuni per i paragrafi
%common-paragraph {
    font-family: 'Monserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

// Estendi gli stili comuni per le liste
%common-list {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;

    @include media(1280px) {
        font-size: 16px;
        letter-spacing: 0.5px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 5px;
    }
}

%common-favorites {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

    .linguaggi-preferiti {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                font-size: 20px;
                margin-bottom: 5px;
            }
        }
    }
}

// Applichiamo gli stili
.About-me {
    display: flex;
    align-items: center;
    justify-content: center;
    @include padding(200px, 100px, 0, 100px);

    .DivImg {
        margin: 0;
        display: flex;
        justify-content: center;

        .Programimg {
            max-width: 100%;
            height: auto;
            border-radius: 30px;

            @include media(1000px) {
                display: flex;
                height: 80%;
                width: 80%;
                border-radius: 30px;
            }
        }
    }

    .Contenuto-Aboutme {
        display: flex;
        flex-direction: column;
        height: 810px;
        width: 1500px;

        h2 {
            @extend %common-title;
            @include font-size(70px);

            @include media(1280px) {
                @include font-size(60px);
            }
        }

        p {
            @extend %common-paragraph;
            @include font-size(20px);
            @include padding(50px, 50px, 30px, 50px); // Aggiunto spazio tra le righe del testo

            @include media(1280px) {
                @include font-size(16px);
                @include padding(5px, 15px, 5px, 15px);
            }
        }

        .Preferiti {
            @extend %common-list;

            h3 {
                @extend %common-title;
                @include font-size(30px);
            }
        }

        @include media(1280px) {
            height: 20%;
            width: auto;
            @include font-size(30px);
            display: flex;
            flex-direction: column;
        }
    }
    
    .call-to-action {
        text-align: center;
        margin-top: 50px;
    
        a {
            text-decoration: none; /* Rimuovi la sottolineatura del link */
            display: inline-block; /* Rendi il link un blocco per applicare il padding */
            padding: 20px 40px; /* Aumenta il padding per rendere il link più grande */
            font-size: 24px; /* Aumenta la dimensione del testo */
            background-color: #f39c12; /* Cambiato colore di sfondo */
            color: #ffffff;
            border-radius: 10px; /* Aumenta il raggio del bordo per arrotondare gli angoli */
            cursor: pointer;
            transition: background-color 0.3s ease; /* Aggiungi una transizione al cambio di colore */
    
            &:hover {
                background-color: #e67e22; /* Cambiato colore di sfondo al passaggio del mouse */
            }
        }
    }

    @include media(1280px) {
        margin:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include padding(50px, 0px, 50px, 5px);
    }

    @extend %common-favorites;
}