 /* -------------------------------------------------------------------    SEZIONE LAVORI   -----------------------------------------------------------------------------------*/
 .Lavori {
    width: 100%;
    padding: 100px 0px;

    .container {
        display: flex;
        flex-direction: column;

        .Titolo-sezione-prj {
            text-align: center;
            font-size: 30px;
            margin: 20px auto;

            @media screen and (max-width: 1024px) {

                text-align: center;
                font-size: 25px;
                margin: 15px auto;
            }
        }

        h6 {
            text-align: center;
            font-size: 22px;
            font-weight: 100;
            color: #c0a71b;

            @media screen and (max-width: 1024px) {
                text-align: center;
                font-size: 22px;
                font-weight: 100;
                color: #c0a71b;
            }
        }

        
    }
        

        

   
    .Bottoni-Lavori {
        display: flex;
        justify-content: center;
        margin: 10px auto;
        text-align: center;
        flex-wrap: wrap;

        a { 
            
            text-decoration: none;
            color:#181818;
            font-weight: bold;
            background-color: #ffffff;
            border:1px solid #c0a71b;
            padding: 5px 20px;
            border-radius: 30px;
            transition: .4s;

            &:hover,
            &.active {
                background-color: transparent;
                cursor: pointer;
                color: #c0a71b;
            }

            @media screen and (max-width: 1024px) {

                padding: 2px 10px;
                
                margin: 5px 5px;

            }
        }
    }


    .row-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .img {
                margin: 40px 120px;
    
            &:hover {
                color: #c0a71b;
                transform: scale(110%);
            

            }

            .pjimg {
                width: 320px;
                height: 320px;
                border-radius: 320px;
            }
        
            @media screen and (max-width: 1024px) {

                margin: 5px 10px;
            }
        }

           

        
    
    }   

  

   
       
   
}

