@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@font-face {
    font-family: 'Hikaru';
    src: url(../Font/Hikou-Regular-Font/Hikou-Regular-Font/Hikou\ Regular.otf)
}

@font-face {
    font-family: 'Monserrat';
    src: url(../Font/Monserrat/static/Montserrat-Thin.ttf)
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    
    color: rgb(0, 0, 0);

    header {

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        background: rgba(14, 19, 36, 0.952);
        display: flex;
        flex-direction: row;
        justify-content: space-between; /*Crea uno spazio tra l'item logo e la barra di navigazione */
        align-items: center;
        z-index: 100;


        .BarNav  {
            a {
                font-size: 20px;
                margin-left: 80px;
                color: #ededed;
                text-decoration: none;
                font-weight: 550;
                transition: .4s; /*per fare in modo che con l hover sui menu cambi colore piu lentamente */

                &:hover,
                &.active {
                  color: #c0a71b;


                }

         
            
            
            }
       
        
         }

    
    }

    .Background-video {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -10;
    
        @media (min-aspect-ratio: 16/9) {
            width: 100%;
            height: auto;
        }
    
        @media (max-aspect-ratio: 16/9) {
            width: auto;
            height: 100%;
        }
    
        @media (max-width: 1280px) {
            display: none;
        }
    
        body {
            background: url('');
            background-size: cover;
        }
    }

    /* -------------------------------------------------------------------    SEZIONE HOME   -----------------------------------------------------------------------------------*/

    .Home {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100vh;   
        padding: 0 10%;
        
        .Contenuto-home {
            display: flex;
            flex-direction: column;
            background-color: #ffffff8e;
            max-width: 800px;
            padding-top: 50px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 80px;
            border-radius: 50px;
            
            .TitoloNome {
                display: flex;
                flex-direction: row;
            }
            
            h1 {
                font-size: 100px;
                font-family: 'Hikaru', sans-serif;
                font-weight: lighter;
                margin: 10px;
                
                &::first-letter {
                    font-size: 130px;
                    font-family: 'Hikaru', sans-serif;
                    font-weight: lighter;
                }
            }
            
            h3 {
                font-size: 30px;
                color:#eecf1d;
                
                &::first-letter {
                    font-size: 40px;
                    color:#eecf1d;
                }
            }
            
            p {
                font-size: 20px;
            }
            
            .Logo-Home {
                margin:10px;
                padding:0;
                
                .sfondologo {
                    width:600px;
                    height: 600px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding:0;
                    transition: 0.3s;
                    
                    &:hover {
                        transform: translateY(-10px);
                        scale:105%;
                    }
                    
                    .logoVV {
                        scale:30%;
                        margin:0;
                        padding:0;
                        text-align: center;
                    }
                    
                    .rombo {
                        scale: 100%;
                        margin:0;
                        padding:0;
                        z-index: -1;
                        position: absolute;
                        
                        @media (max-width: 1280px) {
                            scale: 38%;
                            z-index: 1;
                            position: absolute;
                        }
                    }
                }
            }
        }
        
        @media (max-width: 1280px) {
            background-image: url(../img/sfondo-tel.png);
            height: 900px;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .Contenuto-home {
                display: flex;
                flex-direction: column;
                background-color: #ffffff8e;
                margin:100px 0 0 0 ;
                align-items: center;
                max-width: 300px;
                padding-top: 10px;
                padding-right: 10px;
                padding-bottom: 10px;
                padding-left: 20px;
                border-radius: 10px;
                
                h1 {
                    font-size: 40px;
                    font-family: 'Hikaru', sans-serif;
                    font-weight: lighter;
                    margin: 4px;
                    
                    &::first-letter {
                        font-size: 47px;
                        font-family: 'Hikaru', sans-serif;
                        font-weight: lighter;
                    }
                }
                
                h3 {
                    font-size: 20px;
                    color:#eecf1d;
                    
                    &::first-letter {
                        font-size: 25px;
                        color:#eecf1d;
                    }
                }
                
                p {
                    font-size: 19px;
                    text-align: center;
                    margin-top: 10px;
                }
                
                .sfondologo {
                    width:300px;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding:0;
                    
                    .logoVV {
                        scale:10%;
                        margin:0;
                        padding:0;
                        text-align: center;
                        z-index: 2;
                    }
                }
            }
        }
    }

    /* -------------------------------------------------------------------    SEZIONE ABOUT-ME   -----------------------------------------------------------------------------------*/
    .About-me {
        display: flex;
        align-items: center;
        padding-top: 200px;
        padding-right: 100px;
        padding-bottom: 80px;
        padding-left: 100px;
    
        .Contenuto-Aboutme {
            display: flex;
            flex-direction: column;
            height: 810px;
            width: 1500px;
    
            .Programimg {
                max-width: 100%;
                height: auto;
    
                @media screen and (max-width: 1000px) {
                    display: flex;
                    height: 90%;
                    width: auto;
                    border-radius: 30px;
                }
            }
    
            h2 {
                font-size: 70px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-weight: 10000;
                text-align: center;
                text-align: top;
                vertical-align: middle;
                padding-right: 30px;
                padding-left: 30px;
                padding-bottom: 20px;
                padding-top: 20px;
    
                @media screen and (max-width: 1280px) {
                    font-size: 60px;
                }
            }
    
            p {
                font-size: 20px;
                font-family: 'Monserrat', sans-serif;
                font-weight: bold;
                text-align: center;
                letter-spacing: 1px;
                padding-right: 50px;
                padding-left: 50px;
                padding-top: 50px;
    
                @media screen and (max-width: 1280px) {
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    padding-right: 15px;
                    padding-left: 15px;
                    padding-top: 5px;
                }
            }
    
            @media screen and (max-width: 1280px) {
                height: 20%;
                width: auto;
                font-size: 30px;
                display: flex;
                flex-direction: column;
            }
        }
    
        @media screen and (max-width: 1280px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            padding-right: 5px;
            padding-bottom: 50px;
            padding-left: 10px;
        }
    }
    /* -------------------------------------------------------------------    SEZIONE SERVIZI  -----------------------------------------------------------------------------------*/
    .servizi {
        background-color: rgba(148, 148, 148, 0.349);
        width: 100%;
        padding: 100px 0px;
    
        .title h2 {
            color: rgb(3, 3, 3);
            font-size: 75px;
            width: 1130px;
            margin: 30px auto;
            text-align: center;
        }
    
        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 400px;
    
            .servizio {
                height: 370px;
                width: 335px;
                padding: 25px 35px;
                border-radius: 20px;
                background: rgb(0, 0, 0);
                margin: 15px;
                position: relative;
                overflow: hidden;
                text-align: center;
    
                span {
                    font-size: 45px;
                    display: block;
                    text-align: center;
                    margin: 10px 0px;
                    color: #eecf1d;
                }
    
                h5 {
                    color: rgb(255, 255, 255);
                    font-size: 20px;
                    margin-bottom: 10px;
                }
    
                .Descrizione {
                    color: #f0f0f0;
                    font-size: 15px;
                    line-height: 24px;
                    margin-bottom: 25px;
    
                    p {
                        margin-bottom: 20px;
                    }
                }
    
                .button {
                    background-color: #c0a71b;
                    color: white;
                    text-decoration: none;
                    border: 2px solid transparent;
                    font-weight: bold;
                    padding: 5px 20px;
                    border-radius: 30px;
                    transition: .4s;
    
                    &:hover {
                        background-color: transparent;
                        border: 2px solid #c0a71b;
                        cursor: pointer;
                    }
                }
            }
        }
    
        @media screen and (max-width: 1000px) {
            width: 100%;
            padding: 100px 0px;
    
            .title h2 {
                color: rgb(3, 3, 3);
                font-size: 50px;
                width: 200px;
                margin: auto;
                text-align: center;
            }
    
            .box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-height: 400px;
                margin-top: 30px;
    
                .servizio {
                    height: 370px;
                    width: 320px;
                    padding: 25px 35px;
                    border-radius: 50px;
                    background: rgb(0, 0, 0);
                    margin: 15px;
                    position: relative;
                    overflow: hidden;
                    text-align: center;
                }
            }
        }
    }

    /* -------------------------------------------------------------------    SEZIONE LAVORI   -----------------------------------------------------------------------------------*/
    .Lavori {
        width: 100%;
        padding: 100px 0px;
    
        .container {
            display: flex;
            flex-direction: column;
    
            .Titolo-sezione-prj {
                text-align: center;
                font-size: 30px;
                margin: 20px auto;
            }
    
            h6 {
                text-align: center;
                font-size: 22px;
                font-weight: 100;
                color: #c0a71b;
            }
    
            .Bottoni-Lavori {
                margin: 10px auto;
                text-align: center;
    
                button {
                    text-decoration: none;
                    font-weight: bold;
                    padding: 5px 20px;
                    border-radius: 30px;
                    transition: .4s;
    
                    &:hover,
                    &.active {
                        background-color: transparent;
                        cursor: pointer;
                        color: #c0a71b;
                    }
                }
            }
    
            .img {
                margin: 40px 80px;
    
                &:hover {
                    color: #c0a71b;
                    transform: scale(110%);
                }
            }
    
            .pjimg {
                width: 320px;
                height: 320px;
                border-radius: 320px;
            }
    
            .row-grid {
                display: flex;
                flex-direction: column;
    
                .Rigadiv {
                    display: flex;
                    flex-direction: row;
                }
    
                .Riga1,
                .Riga2,
                .Riga3 {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    
        @media screen and (max-width: 1024px) {
            .container {
                .Rigadiv {
                    display: flex;
                    flex-direction: column;
                }
    
                .Titolo-sezione-prj {
                    text-align: center;
                    font-size: 25px;
                    margin: 15px auto;
                }
    
                h6 {
                    text-align: center;
                    font-size: 22px;
                    font-weight: 100;
                    color: #c0a71b;
                }
    
                .img {
                    margin: 5px 10px;
                }
    
                .Testo-secondario {
                    font-size: 15px;
                }
    
                h4 {
                    font-size: 20px;
                }
            }
        }
    }

}











/* -------------------------------------------------------------------      SEZIONE FORM    ---------------------------------------------------------------------------------*/


.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(14, 19, 36, 0.952);
    
    
}

.Titolo-Form {
    text-align: center;
    margin: 20px;
    color: #f0f0f0;
}

.Titolo-Form h1{
    font-size: 38px;
    margin:20px;
}

.Titolo-Form p{
    margin: 35px;
    font-size: 18px;
    font-weight: lighter;
}

/* -------------------------------------------- MODIFICHE DEGLI INPUT FILES --------------------------------------------------------------------------*/

input[type=text] {

    width:500px;
    margin: 20px 100px;
    padding: 12px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    transition: 0.3s ease-in-out

}

input[type=text]:focus {
    border: 3px solid #000000;
    border-radius: 5px;
}

input[type=tel] {

    width:500px;
    margin: 20px 100px;
    padding: 12px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    transition: 0.3s ease-in-out

}

input[type=tel]:focus {
    border: 3px solid #000000;
    border-radius: 5px;
}

input[type=email] {

    width:500px;
    margin: 20px 100px;
    padding: 12px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    transition: 0.3s ease-in-out

}

input[type=email]:focus {
    border: 3px solid #000000;
    border-radius: 5px;
}

textarea {
    width:800px;
    margin: 20px 100px;
    padding: 12px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    transition: 0.3s ease-in-out
}


input[type=submit] {

    width:400px;
    margin: 20px 100px;
    padding: 12px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    font-size: 15px;
    background-color:#c0a71b;
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
    
    
    

}

input[type=submit]:hover {

    scale:110%;
    background-color:transparent;
    border: 2px solid #c0a71b;
    cursor: pointer;



}





/*______*/




::placeholder {
    font-size: 16px;
}

.Nome-Cognome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}

.Tel-Email {

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.Textarea {

    display: flex;
    justify-content: center;

}

.Submit-button {

    display: flex;
    justify-content: center;


}

 /*-------------------------- VISUALE TELEFONO ------------------------*/

@media screen and (max-width:  1000px) {

    .Titolo-Form h1{
        font-size: 25px;
        margin:15px;
    }

    .Titolo-Form p{
        margin: 25px;
        font-size: 15px;
        font-weight: lighter;
    }

    input[type=text] {

        width:200px;
        margin: 20px auto;
        padding: 12px 20px;
        border-radius: 5px;
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        transition: 0.3s ease-in-out
    
    }
    input[type=tel] {

        width:200px;
        margin: 20px auto;
        padding: 12px 20px;
        border-radius: 5px;
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        transition: 0.3s ease-in-out
    
    }
    input[type=email] {

        width:200px;
        margin: 20px auto;
        padding: 12px 20px;
        border-radius: 5px;
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        transition: 0.3s ease-in-out
    
    }

    input[type=submit] {

        width:200px;
        margin: 20px 100px;
        padding: 12px 20px;
        border-radius: 20px;
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        font-size: 14px;
        background-color:#c0a71b;
        color:#ffffff;
        text-decoration: none;
        font-weight: bold;
        
        
        
    
    }


    ::placeholder {
        font-size: 13px;
    }

    textarea {

        width:200px;
        margin: 20px auto;
        padding: 12px 20px;
        border-radius: 5px;
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        transition: 0.3s ease-in-out

    }

    .Nome-Cognome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
        
    }

    .Tel-Email {

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    
    }


    .Textarea {

        display: flex;
        justify-content: center;
        text-align: center;
    
    }

    
}





 /* ---------------------------------------------------------  SEZIONE RIGUARDO LA PAGINA DEL PROGETTO -------------------------------------------------------------------------*/


 .Introduzione-Progetto {
    
    display: flex;
    justify-content: center;
    align-items: center;
 
    
    width:100%;
    height: 110vh;   
    padding: 0% 20%;


    

 }


.Contenuto-Introduzione{
    display: flex;
    flex-direction: column;
    
   
}

 .Contenuto-Introduzione h1{

    font-size: 110px;
    font-family: 'Hikaru', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #c0a71b;
    text-shadow: -1px -1px 0 #0e0d0d9c, 1px -1px 0 #0e0d0d9c, -1px 1px 0 #0e0d0d9c, 1px 1px 0 #0e0d0d9c;
    
    
    
}

.Contenuto-Introduzione p{

    margin: 80px 0px;

    color:#000000;

    text-align: center;

    padding:30px 20px;

    background-color:#eeeeeea2;
    border-radius: 30px;

    font-family: 'Monserrat';
    font-size: 19px;
    font-weight: bolder;
    

    text-align: center;

}

/*____________________________*/

.Progetto-Example {
    display: flex;
    margin-top: 120px;

}

.Cont-PE{
    display: flex;
    flex-direction: row;
}

.Cont-PE img{
    width:700px;
    height: auto;
    margin: 50px 50px;
    border-radius: 100px;

}

.Descrizione-Pjc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Descrizione-Pjc h2{
    margin-top: 100px;
   
    text-align: center;
    font-size: 70px;
}

.Descrizione-Pjc p{
    margin: 100px 50px;
    font-family: 'Monserrat';
    font-size: 26px;
    font-weight: 500;
    

}

.Descrizione-Pjc a{

    font-size: 20px;
    text-align: center;

    background-color:#c0a71b;
    color:rgb(255, 255, 255);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 15px 200px;
    border-radius: 20px;
    transition: .4s;
    margin: 0px 20px;
}






.Descrizione-Pjc a:hover{

    color:#000000;
    scale:110%;
    background-color:transparent;
    border: 2px solid #c0a71b;
    cursor: pointer;

}




@media screen and (max-width:  1280px) {



    .Introduzione-Progetto {

        background-image: url(../img/sfondo-tel.png);
        max-height: 1000px;
        
        
    
    }

    .Contenuto-Introduzione p{

        margin: 30px 0px;
    
        color:#000000;
    
        text-align: center;
    
        padding:20px 10px;
    
        background-color:#eeeeeea2;
        border-radius: 20px;
    
        font-family: 'Monserrat';
        font-size: 18px;
        font-weight: bolder;
        
    
        text-align: center;
    
    }
    


    .Contenuto-Introduzione h1{

        font-size: 70px;
        font-family: 'Hikaru', sans-serif;
        font-weight: lighter;
        text-align: center;
        color: #c0a71b;
        text-shadow: -1px -1px 0 #0e0d0d9c, 1px -1px 0 #0e0d0d9c, -1px 1px 0 #0e0d0d9c, 1px 1px 0 #0e0d0d9c;
        
        
        
    }


    .Progetto-Example {
        display: flex;
        flex-direction: column;
        
    
    }


    .Cont-PE{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    



    .Cont-PE img{
        width:380px;
        height: 380px;
        margin: 5px 5px;
        border-radius: 50px;
        text-align: center;
    }



    .Descrizione-Pjc h2{
        margin-top: 5px;
       
        text-align: center;
        font-size: 30px;
    }
    
    .Descrizione-Pjc p{
        margin: 5px 5px;
        font-family: 'Monserrat';
        font-size: 20px;
        font-weight: 500;
        margin: 10px 20px;
        text-align: center;
        
    
    }

    .Descrizione-Pjc a{

        font-size: 16px;
    
        background-color:#c0a71b;
        color:rgb(255, 255, 255);
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 5px 12px;
        border-radius: 20px;
        transition: .4s;
        margin: 30px 30px;
    }



}



/* -------------------------------------------------------------------      SEZIONE FOOTER/PIE DI PAGINA    ---------------------------------------------------------------------------------*/

footer {
    margin-top: 25px;
    background-color: #181818;
    padding: 20px 10%;
    display: flex;
    justify-content: center;
}

footer .logo{  /* Rimetto il logo al pie di pagina */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 50px;
    margin-right: 100px;
    scale: 200%;
   
}

.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    

}

.Recapiti {
    color: rgb(255, 255, 255);
    
}

.Recapiti p{
    margin: 10px;
    text-align: center;
    font-size: 18px;
}


.Recapiti a{
    color: rgb(255, 255, 255);
    text-decoration: none;  /*levo l'underline */
}

.Recapiti a:hover{
    text-decoration: underline;
    
}

.Recapiti ul {
    list-style: none;
}

.ContattamiSu {
    margin: 0 0 0 70px;
    
}


.fa {  /*Stile icone*/
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    scale: 150%;
    
}

.fa:hover {
    opacity: 0.7;
}



@media screen and (max-width:  1000px) {

    footer {
        margin-top: 0px;
        background-color: #181818;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }


    footer .logo{  

        scale: 130%;
        margin:0;

        display: flex;
        justify-content: center;
        align-items: center;
        
       
    }



    .footer {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .Recapiti p{
        margin:8px;
        text-align: center;
        font-size: 16px;
    }

    .Recapiti{
        font-size: 14px;
    }

    .ContattamiSu {

        display: flex;
        flex-direction: column;

        margin: 0px 0 0 15px;
        
    }
    

        
    


    


}