 /* -------------------------------------------------------------------    SEZIONE ABOUT-ME   -----------------------------------------------------------------------------------*/
@import "Variabili";


// PADDING CON MIXIN
@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

// MMARGIN CON MIXIN
@mixin margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

// 
@mixin font-size($size) {
    font-size: $size;
}

// ESTENDO GLI STILI COMUNI PER GLI H
%common-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 10000;
    text-align: center;
    text-align: top;
    vertical-align: middle;
    padding: 20px;
}

// ESTENDO ANCHE GLI STILI COMUNI PER I PARAGRAI
%common-paragraph {
    font-family: 'Monserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

// ESTENDO GLI STILI COMUNI PER LE LISTE
%common-list {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;

    @include media(max-width, 1280px) {
        font-size: 16px;
        letter-spacing: 0.5px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 5px;
    }
}

%common-favorites {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

    .linguaggi-preferiti {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 24px;
            margin-bottom: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                font-size: 20px;
                margin-bottom: 5px;
                font-family: 'Monserrat', sans-serif;
            }
        }
    }
}

// Applichiamo gli stili
.About-me {
    display: flex;
    align-items: center;
    justify-content: center;
    @include padding(200px, 100px, 80px, 100px);

    .DivImg {
        margin: 0;
        display: flex;
        justify-content: center;

        .Programimg {
            max-width: 100%;
            height: auto;
            border-radius: 30px;

            @include media(max-width, 1000px) {
                display: flex;
                height: 80%;
                width: 80%;
                border-radius: 30px;
            }
        }
    }

    .Contenuto-Aboutme {
        display: flex;
        flex-direction: column;
        height: 810px;
        width: 1500px;

        h2 {
            @extend %common-title;
            @include font-size(70px);

            @include media(max-width, 1280px) {
                @include font-size(60px);
            }
        }

        p {
            @extend %common-paragraph;
            @include font-size(20px);
            @include padding(50px, 50px, 50px, 50px);

            @include media(max-width, 1280px) {
                @include font-size(16px);
                @include padding(5px, 15px, 5px, 15px);
            }
        }

        .Preferiti {
            @extend %common-list;

            h3 {
                @extend %common-title;
                @include font-size(30px);
            }
        }

        @include media(max-width, 1280px) {
            height: 20%;
            width: auto;
            @include font-size(30px);
            display: flex;
            flex-direction: column;
        }
    }

    @include media(max-width, 1280px) {
        margin:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include padding(50px, 0px, 50px, 5px);
    }

    @extend %common-favorites;
}