@import "Variabili";

/* -------------------------------------------------------------------    SEZIONE HOME   -----------------------------------------------------------------------------------*/
// MIXIN PER IL PADDING
@mixin padding($top, $right, $bottom, $left) {
    padding: $top $right $bottom $left;
}

// MIXIN PER IL FONT SIZE
@mixin font-size($size) {
    font-size: $size;
}

// MIXING PER LO STILE DI h1
@mixin title-style {
    font-family: 'Hikaru', sans-serif;
    font-weight: lighter;

    &::first-letter {
        font-size: 130px;
    }
}

//MIXIN PER LO STILE DI H3
@mixin subtitle-style {
    font-size: 30px;
    color: #eecf1d;

    &::first-letter {
        font-size: 40px;
    }
}


@mixin paragraph-style {
    font-size: 20px;
}


@mixin logo-style {
    margin: 10px;
    padding: 0;

    .sfondologo {
        width: 600px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        transition: 0.3s;

        &:hover {
            transform: translateY(-10px) scale(105%);
        }

        .rombo {
            scale: 100%;
            margin: 0;
            padding: 0;
            z-index: -1;
            position: absolute;
        }

        .logoVV {
            scale: 30%;
            margin: 0;
            padding: 0;
            text-align: center;
        }
    }
}


.Home {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    padding: 0 10%;

    .Contenuto-home {
        display: flex;
        flex-direction: column;
        background-color: #ffffff8e;
        border-radius: 50px;
        max-width: 800px;
        padding: 50px 80px;

        .TitoloNome {
            display: flex;
            flex-direction: row;

            h1 {
                @include title-style;
                @include font-size(100px);
            }
        }

        h3 {
            @include subtitle-style;
        }

        p {
            @include paragraph-style;
        }
    }

    .Logo-Home {
        @include logo-style;
    }
}

// Media query per dimensioni dello schermo <= 1280px
@media (max-width: 1280px) {
    .Home {
        background-image: url(../img/sfondo-tel.png);
        height: 900px;
    }

    .Home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Contenuto-home {
        display: flex;
        flex-direction: column;
        background-color: #ffffff8e;
        margin: 100px 0 0 0;
        align-items: center;
        max-width: 300px;
        padding: 10px 20px;
        border-radius: 10px;

        h1 {
            @include font-size(40px);
        }

        h3 {
            @include font-size(20px);
        }

        p {
            @include font-size(19px);
            text-align: center;
            margin-top: 10px;
        }
    }

    @include logo-style;
}