@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

@import "Variabili";


// STILE DEFAULT
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

// 
body {
    color: $coloreNero;
}

// STILE DELL HEADER
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: $coloreDarkBlu;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

   
    .logo {
        img {
            height: 80px;
            width: 80px;
        }
    }

    // STILE BARNAV
    .BarNav {
        a {
            font-size: 20px;
            margin-left: 80px;
            color: #ededed;
            text-decoration: none;
            font-weight: 550;
            transition: .4s;

            &:hover,
            &.active {
                color: $ColorOro;
            }
        }
    }
}

// STILE DEL VIDEO DI BACKGROUND
.Background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -10;

    @media (min-aspect-ratio: 16/9) {
        width: 100%;
        height: auto;
    }

    @media (max-aspect-ratio: 16/9) {
        width: auto;
        height: 100%;
    }

    @media (max-width: 1280px) {
        display: none;
    }
}
   
   
   

  


